[submodule "noh_insects"]
	path = noh_insects
	url = https://github.com/langara/noh_insects.git
[submodule "wyraz"]
	path = wyraz
	url = https://github.com/langara/wyraz.git
[submodule "uspek-js-playground"]
	path = uspek-js-playground
	url = git@github.com:langara/uspek-js-playground.git
