[submodule "noh_insects"]
	path = noh_insects
	url = https://github.com/mareklangiewicz/noh_insects.git
[submodule "wyraz"]
	path = wyraz
	url = https://github.com/mareklangiewicz/wyraz.git
[submodule "uspek-js-playground"]
	path = uspek-js-playground
	url = https://github.com/mareklangiewicz/uspek-js-playground.git
