/* [ vim: set tabstop=2 shiftwidth=2 expandtab : ] */

.ghost {
  position: fixed;
  color: blue;
}

h2.fancy.ghost {
  text-shadow: rgba(64, 64, 64, 0.2) 4px 3px 2px;
}

h2.fancy.ghost:hover {
  text-shadow: rgba(64, 64, 64, 0.2) 8px 6px 4px;
}

